# Model checkpoints
models/
models_filtered/

# Data
data/

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pth
*.ht

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
